html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.texte {
  font-family: 'Dosis', sans-serif;
}

.titre {
  font-size: 50px;
  color: white;
}
h1 {
  text-align: center;
}

#remaining {
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h2 {
  color: white;
}
.main-container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: space-around;
  flex-direction: row;
  background-image: url('./assets/images/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.player-container, .play-container, .parrains {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.player-container {
  padding: 10px;
  display: flex;
  width: 30%;
  flex-direction: column;
  text-align: center;
}

.play-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23%;
  width: 100%;
}

.pic {
  margin: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  align-self: center;
}
.criteria-player-container {
  height: 45%;
}

.question-container {
  border-radius: 20px;
  text-align: center;
  height: 15%;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.answers-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}

li {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.criterias-container {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.name1, .name2 {
  font-size: 3rem;
}

.name1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #4fc3f7;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  font-family: 'Dosis', sans-serif;
}

.name2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #f44336;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  font-family: 'Dosis', sans-serif;
}

.timer {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-color: white;
  margin: auto;
}

.timer-label {
  color: black;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 80px;
}

.answer {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 25px;
  background-color: #4a148c;
  width: 50%;
  padding: 15px;
  font-family: 'Dosis', sans-serif;
}

.criteria {
  background-color: #8bc34a;
  border-radius: 10px;
  color: white;
  font-family: 'Dosis', sans-serif;
  margin: 10px;
  width: 300px;
}

.parrains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrain {
  width: 50%;
}

.parrain .pic {
  width: 25rem;
  height: 25rem;
}

.parrain {
  text-align: center;
}

.parrain .name,
.parrain .son {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}

.parrain .son {
  font-size: 3rem;
}

.parrain.filleul-0 {
  color: #4fc3f7;
}

.parrain.filleul-1 {
  color: #f44336;
}
